.not-found {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-areas: 
  '...'
  'error'
  'link';
}

.not-found__error {
  grid-area: error;
}

.not-found__error-number {
  text-align: center;
  font-size: 140px;
  font-weight: 400;
  margin: 0 0 5px;
}

.not-found__error-text {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.not-found__link {
  width: max-content;
  grid-area: link;
  justify-self: center;
  align-self: end;
  text-align: center;
  text-decoration: none;
  color: #4285F4;
  background-color: transparent;
  border: 0;
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 60px;
}

@media screen and (max-width: 1080px) {
  .not-found__link {
    align-self: center;
    margin: 0;
  }
}

@media screen and (max-width: 660px) {
  .not-found__error-number {
    font-size: 80px;
    margin-bottom: 10px;
  }

  .not-found__error-text {
    font-size: 12px;
  }

  .not-found__link {
    font-size: 12px;
    align-self: end;
    margin-bottom: 30px;
  }
}